body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ff478d;
    color: white;
    padding: 15px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icono {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 28%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    max-height: 150px; 
}

.producto h3 {
    margin: 10px 0;
}

.producto p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.comprar {
    display: inline-block;
    background-color: #ff478d; 
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; 
    text-align: center;
}

.comprar:hover {
    background-color: #ff1493; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
